.chart {
  width: 100%;
  height: 350px;
}

@media (min-width: 768px) {
  .chart {height: 550px;}
}



.table { width: 100%; font-size: .85rem;}
/*td { font-family: Menlo, Monaco, Consolas, "Courier New", monospace }*/
tr[data-toggle="collapse"]:hover { cursor: pointer; }
tr[data-toggle="collapse"] > td { font-weight: bold; }
tbody td:after { content: "%"; }
/*thead th { text-align: center; }*/
/*.tooltip-inner { font-family: Verdana, Geneva, sans-serif; border-radius: 2px;}*/
tr[data-toggle="collapse"] > th:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.28571429em;
  text-align: center;
  /*content: "\f0da";*/
  content: "\f0d7";
}

caption {font-size: 1rem;}

.collapsing {
  -webkit-transition: none;
          transition: none;
}

tr[data-toggle="collapse"].collapsed > th:before {
  /*content: "\f0d7";*/
  content: "\f0da";
}