/*.list-group-item.active+.list-group-item,
.list-group-item.active+.list-group-item+.list-group-item,
.list-group-item.active+.list-group-item+.list-group-item+.list-group-item,
.list-group-item.active+.list-group-item+.list-group-item+.list-group-item+.list-group-item,
.list-group-item.active+.list-group-item+.list-group-item+.list-group-item+.list-group-item+.list-group-item,
.list-group-item.active+.list-group-item+.list-group-item+.list-group-item+.list-group-item+.list-group-item+.list-group-item {
    color: #bbb;
}*/

.list-group-item.no_data,
.list-group-item.no_data:hover {
    color: #bbb;
}

.list-group-item.no_data:hover {
    background-color: transparent;
}

.panel-default,
.list-group-item {
    border-color: #eee;
}

.under_100 {
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.over_100 {
    background-color: #f2dede;
    border-color: #ebccd1;
}

.is_100 {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.under_100 .running-total {
    color: #8a6d3b;
}

.over_100 .running-total {
    color: #a94442;
}

.is_100 .running-total {
    color: #3c763d;
}

@media (min-width: 48em) {
    #form-sidebar {
        margin-top: 3em;
    }
    
}

#bottom-bar {
    min-height: 0;
}

#bottom-bar .navbar-text {
    margin: 13px 0;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.running-total:after {content: "\0025";}

@media (max-width: 47.9em) {
    #form-content .input-group {
        max-width: 320px
    } 
}