{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}
  FOA | Create Portfolio
{% endblock head_title %}

{% block body_base %}
  <section id="content_body">
    <div class="container">
      <h1>Create a new Portfolio</h1>
      <p class="lead">How would you like to create your portfolio?</p>
        <div class="row">
          <div class="col-sm-6">

            <div class="well">
              <p class="h5 text-center text-semibold">Option 1</p>
              <h2 class="h5 text-center text-normal">Enter dollar amounts<br><i class="small text-semibold">(easier, but less private)</i></h2>
              <p>Percentage allocations will be caluclated from the dollar amounts you enter; however, these amounts will be stored. If you are okay with us storing this information, this choice might be for you.</p>
              <p class="text-center"><br>
                <a href="{% url 'portfolios:create_amounts' %}" class="btn btn-lg btn-primary">Choose dollar amounts</a>
              </p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="well">
              <p class="h5 text-center text-semibold">Option 2</p>
              <h2 class="h5 text-center text-normal">Enter percentages directly<br><i class="small text-semibold">(more private, but more work)</i></h2>
              <p>You can enter percentages directly. This will keep information about your portfolio size private, but the process takes longer and is generally more work.</p>
              <p class="text-center"><br><br class="visible-sm visible-md">
                <a href="{% url 'portfolios:create_percentages' %}" class="btn btn-lg btn-default">Choose percentages</a>
              </p>
            </div>
          </div>
        </div>
        
    </div>
  </section>
{% endblock body_base %}