{% extends "site_base.html" %}
{% load i18n staticfiles bootstrap %}


{% block body_base %}
<section id="content_body">
  <div class="container">
    <h1 class="hidden">Delete Your Portfolio</h1>
    <form action="{% url 'portfolios:delete' %}" method="post">{% csrf_token %}
      <div class="alert alert-danger">
        <p class="h2"><strong>Are you sure you want to delete your portfolio?</strong></p>
        <hr>
        <button type="submit" class="btn btn-lg btn-danger">Yes, delete my portfolio</button>
      </div>
    </form>
  </div>
</section>
{% endblock body_base %}