{% extends "site_base.html" %}

{% load i18n staticfiles bootstrap %}

{% block head_title %}FOA | {% if 'update' in request.path %}Update{% else %}Create{% endif %} Portfolio{% endblock head_title %}

{% block body_class %}default{% endblock %}

{% block styles %}
  {{ block.super }}
  <style>
    #portfolio-amounts-form .form-control {max-width: 192px;}
  </style>
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
  {# <script src="{% static 'portfolios/js/portfolio-form.js' %}"></script> #}
{% endblock scripts %}

{% block body_base %}
<section id="content_body">
  <div class="container">
    
    <form id="portfolio-amounts-form" action="{{ request.path }}" method="post" class="form-horizontal">{% csrf_token %}

      <div class="page-header no-top-margin">
        <h1 class="no-top-margin">{% block form_title %}{% endblock %} {% trans "Portfolio" %}</h1>
      </div>
    

      <fieldset id="main-controls">
        <p class="lead">{% trans "Enter the amount in U.S. Dollars allocated toward each asset class." %}</p>

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

          <fieldset>
            <legend id="equities">{% trans "Equities" %}</legend>
              <div class="columns">
                {% for field in form  %}
                  {% if forloop.counter >= 1 and forloop.counter <= 10 %}
                    {% include "portfolios/_field_bootstrap_with_addon.html" %}
                  {% endif %}
                {% endfor %}
              </div>
          </fieldset>

          <fieldset>
            <legend id="real-estate">{% trans "Real Estate" %}</legend>
            <div class="columns">
              {% for field in form %}
                {% if forloop.counter >= 11 and forloop.counter <= 14 %}
                  {% include "portfolios/_field_bootstrap_with_addon.html" %}
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>

          <fieldset>
            <legend id="bonds">{% trans "Bonds" %}</legend>
            <div class="columns">
              {% for field in form  %}
                {% if forloop.counter >= 15 and forloop.counter <= 21 %}
                  {% include "portfolios/_field_bootstrap_with_addon.html" %}
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>

          <fieldset>
            <legend id="commodities">{% trans "Commodities" %}</legend>
            <div class="columns">              
              {% for field in form  %}
                {% if forloop.counter >= 22 and forloop.counter <= 23 %}
                  {% include "portfolios/_field_bootstrap_with_addon.html" %}
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>

          <fieldset>
            <legend id="venture">{% trans "Venture" %}</legend>
            <div class="columns">
              {% for field in form  %}
                {% if forloop.counter >= 24 and forloop.counter <= 25 %}
                  {% include "portfolios/_field_bootstrap_with_addon.html" %}
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>

          <fieldset>
            <legend id="other">{% trans "Other" %}</legend>
            <div class="columns">              
              {% for field in form  %}
                {% if forloop.counter >= 26 %}
                  {% include "portfolios/_field_bootstrap_with_addon.html" %}
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>

      </fieldset>

      <hr>

      <fieldset id="buttons">
        <div class="form-group">
          <div class="col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check"></i> {% trans "Finish" %}</button>
          </div>
        </div>
      </fieldset>
    
    </form>
  </div>
</section>
{% endblock body_base %}