{% extends "site_base.html" %}
{% load i18n staticfiles bootstrap %}

{% block head_title %}FOA | {% trans "Portfolio" %}{% endblock %}

{% block body_class %}default{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'portfolios/css/portfolio_detail.css' %}">
{% endblock styles %}

{% block extra_head %}

    <script src="{% static 'js/smartresize.js' %}"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Asset Class Category', 'Your Portfolio', 'Index/Baseline'],
          ['Equities', {{ your_equities_total }}, {{ equities_average }}],
          ['Real Estate', {{ your_real_estate_total }}, {{ real_estate_average }}],
          ['Bonds', {{ your_bonds_total }}, {{ bonds_average }}],
          ['Commodities', {{ your_commodities_total }}, {{ commodities_average }}],
          ['Venture Investments', {{ your_venture_total }}, {{ venture_average }}],
          ['Other', {{ your_other_total }}, {{ other_average }}]
        ]);

        var options = {
          chart: {
            title: 'Portfolio Allocations',
            subtitle: 'Asset classes as percentage of portfolio',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('chart'));

        chart.draw(data, options);

        $(window).smartresize(function(){
          drawChart();
        });


      }
    </script>

{% endblock extra_head %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      
      $('tr[data-toggle="collapse"]').click(function() {
        $(this).toggleClass("collapsed")
      }) 

      $('[rel="tooltip"]').tooltip()

    });
  </script>
{% endblock scripts %}

{% block body %}

  <div class="page-header no-top-margin">
    {% if portfolio %}
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <a href="{% if dollar_amounts_used %}{% url 'portfolios:update_amounts' %}{% else %}{% url 'portfolios:update_percentages' %}{% endif %}" class="btn btn-primary"><i class="fa fa-edit"></i>&ensp;{% trans "Edit portfolio" %}</a>
        </div>
        <div class="btn-group">
          <a href="{% url 'portfolios:delete' %}" class="btn btn-danger"><i class="fa fa-trash"></i>&ensp;{% trans "Delete portfolio" %}</a>
        </div>
      </div>
    {% endif %}
    <h1 class="no-top-margin">
      {% if portfolio %}

        <small>{% trans "Portfolio" %}:</small> {{ portfolio.user.get_username }}
      {% else %}
        {% trans "Your Portfolio" %}
      {% endif %}
    </h1>

  </div>

  {% if not portfolio %}
    <div class="alert alert-warning" role="alert">
      <p class="lead">{% trans "You have not yet created a portfolio." %}</p>
      <hr>
      <p><a href="{% url 'portfolios:create' %}" class="btn btn-lg btn-warning">{% trans "Create one now" %}</a></p>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-hover">
            <caption>{% blocktrans %}Your Portfolio <strong>(click a row to show/hide details)</strong>{% endblocktrans %}</caption>

            <thead>
              <tr>
                <th rowspan="2">{% trans "Asset Class" %}</th>
                <th colspan="2" class="text-center">{% trans "% of Portfolio" %}</th>
              </tr>

              <tr>
                <th>{% trans "Your Portfolio" %}</th>
                <th>{% trans "Index/Baseline" %}</th>
              </tr>

            </thead>

            <tbody>
              {% for category_label, value, average in tabular_data %}
                {% if forloop.counter == 1 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".equities" title="click to expand/collapse" rel="tooltip" data-placement="right" aria-expanded="false">
                    <th>{% trans "Equities" %}</th>
                    <td>{{ your_equities_total|floatformat:"-2" }}</td>
                    <td>{{ equities_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 11 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".real-estate" title="click to expand/collapse" rel="tooltip" data-placement="right" aria-expanded="false">
                    <th>{% trans "Real Estate" %}</th>
                    <td>{{ your_real_estate_total|floatformat:"-2" }}</td>
                    <td>{{ real_estate_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 15 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".bonds" title="click to expand/collapse" rel="tooltip" data-placement="right" aria-expanded="false">
                    <th>{% trans "Bonds" %}</th>
                    <td>{{ your_bonds_total|floatformat:"-2" }}</td>
                    <td>{{ bonds_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 22 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".commodities" title="click to expand/collapse" rel="tooltip" data-placement="right" aria-expanded="false">
                    <th>{% trans "Commodities" %}</th>
                    <td>{{ your_commodities_total|floatformat:"-2" }}</td>
                    <td>{{ commodities_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 24 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".venture" title="click to expand/collapse" rel="tooltip" data-placement="right" aria-expanded="false">
                    <th>{% trans "Venture Investments" %}</th>
                    <td>{{ your_venture_total|floatformat:"-2" }}</td>
                    <td>{{ venture_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 26 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".other" title="click to expand/collapse" rel="tooltip" data-placement="right" aria-expanded="false">
                    <th>{% trans "Other" %}</th>
                    <td>{{ your_other_total|floatformat:"-2" }}</td>
                    <td>{{ other_average|floatformat:"-2" }}</td>
                  </tr>
                {% endif %}

                {% cycle 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'real-estate' 'real-estate' 'real-estate' 'real-estate' 'bonds' 'bonds' 'bonds' 'bonds' 'bonds' 'bonds' 'bonds' 'commodities' 'commodities' 'venture' 'venture' 'other' 'other' 'other' 'other' 'other' 'other' as data_target silent %}

                <tr class="collapse {{ data_target }}">
                  <th>{{ category_label|capfirst }}</th>
                  <td>{{ value|floatformat:"-2" }}</td>
                  <td>{{ average|floatformat:"-2" }}</td>
                </tr>

              {% empty %}
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <figure id="chart" class="chart"></figure><br>
      </div>
    </div>
    

  {% endif %}

{% endblock body %}