{% extends "site_base.html" %}

{% load i18n staticfiles bootstrap %}

{% block head_title %}FOA | {% block form_head_title %}{% endblock %} Portfolio{% endblock head_title %}

{% block body_class %}default{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'portfolios/css/portfolio_form.css' %}">
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'portfolios/js/portfolio-form.js' %}"></script>
  <script src="{% static 'portfolios/js/bottom-bar.js' %}"></script>
{% endblock scripts %}

{% block body_base %}
<section id="content_body">
  <div class="container">
    <div id="bottom-bar" class="navbar navbar-fixed-bottom navbar-default">
      <div class="container">
        <p class="navbar-text"><span class="wrapper">{% trans "Running Total" %}: <span id="running-total"></span></span></p>
      </div>
    </div>
    
    <form action="{% block form_action %}{% endblock %}" method="post" class="form-horizontal">{% csrf_token %}

      <div class="page-header no-top-margin">
        <a href="{% url 'portfolios:delete' %}" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i>&ensp;Delete Portfolio</a>
        <h1 class="no-top-margin">{% block form_title %}{% endblock %} {% trans "Portfolio" %}</h1>
      </div>
    

      <fieldset id="main-controls">
        <p>{% trans "What percentage of your portfolio is allocated toward the following asset classes?" %}</p>

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

          <fieldset>
            <legend>{% trans "Equities" %}</legend>
            {% for field in form  %}
              {% if forloop.counter >= 1 and forloop.counter <= 10 %}
                {{ field|bootstrap_horizontal }}
              {% endif %}
            {% endfor %}
          </fieldset>

          <fieldset>
            <legend>{% trans "Real Estate" %}</legend>
            {% for field in form %}
              {% if forloop.counter >= 11 and forloop.counter <= 14 %}
                {{ field|bootstrap_horizontal }}
              {% endif %}
            {% endfor %}
          </fieldset>

          <fieldset>
            <legend>{% trans "Bonds" %}</legend>
            {% for field in form  %}
              {% if forloop.counter >= 15 and forloop.counter <= 21 %}
                {{ field|bootstrap_horizontal }}
              {% endif %}
            {% endfor %}
          </fieldset>

          <fieldset>
            <legend>{% trans "Commodities" %}</legend>
            {% for field in form  %}
              {% if forloop.counter >= 22 and forloop.counter <= 23 %}
                {{ field|bootstrap_horizontal }}
              {% endif %}
            {% endfor %}
          </fieldset>

          <fieldset>
            <legend>{% trans "Venture" %}</legend>
            {% for field in form  %}
              {% if forloop.counter >= 24 and forloop.counter <= 25 %}
                {{ field|bootstrap_horizontal }}
              {% endif %}
            {% endfor %}
          </fieldset>

          <fieldset>
            <legend>{% trans "Other" %}</legend>
            {% for field in form  %}
              {% if forloop.counter >= 26 %}
                {{ field|bootstrap_horizontal }}
              {% endif %}
            {% endfor %}
          </fieldset>

      </fieldset>

      <fieldset id="buttons">
        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-7 col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> {% trans "Finish" %}</button>
            <button type="reset" class="btn btn-default"><i class="fa fa-eraser"></i> {% trans "Clear fields" %}</button>
          </div>
        </div>
      </fieldset>
    
    </form>
  </div>
</section>
{% endblock body_base %}