{% extends "admin/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Family Office Statistics Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
