{% extends "site_base.html" %}

{% load account_tags i18n bootstrap %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="{% url 'account_login' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <fieldset>
                    <h1 class="h4 page-header weight-normal no-top-margin">{% trans "Sign in to an existing account" %}</h1>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-success">{% trans "Sign in" %}</button>
                    <a href="{% url 'account_password_reset' %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
                </fieldset>
            </form>
            {% if ACCOUNT_OPEN_SIGNUP %}
            <hr>
                <p class="login-signup">
                    <small>
                        {% trans "Don't have an account?" %}&emsp;<b><a class="textual-link" href="{% urlnext 'account_signup' %}">{% trans "Register" %}</a></b>
                    </small>
                </p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include "account/_login_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
