/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/crimson-text-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text'), local('CrimsonText-Roman'),
       url('../fonts/crimson-text-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v6-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/crimson-text-v6-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
       url('../fonts/crimson-text-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v6-latin-italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-600 - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/crimson-text-v6-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Semibold'), local('CrimsonText-Semibold'),
       url('../fonts/crimson-text-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v6-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v6-latin-600.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-600italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/crimson-text-v6-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Semibold Italic'), local('CrimsonText-SemiboldItalic'),
       url('../fonts/crimson-text-v6-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v6-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v6-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v6-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v6-latin-600italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-700 - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/crimson-text-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
       url('../fonts/crimson-text-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v6-latin-700.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-700italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/crimson-text-v6-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Bold Italic'), local('CrimsonText-BoldItalic'),
       url('../fonts/crimson-text-v6-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v6-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v6-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v6-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v6-latin-700italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}