@import url(form-control-override.css);


/* ------- UTILITY CLASSES --------*/
.no-top-margin {margin-top: 0;}
.no-bottom-margin {margin-bottom: 0;}
.text-bold {font-weight: 700 !important;}
.text-semibold {font-weight: 600 !important;}
.text-normal {font-weight: 400 !important;}
.text-light {font-weight: 300 !important;}
.text-italic {font-style: italic !important;}
.text-underline{text-decoration: underline !important;}
[data-append]:after {content: attr(data-append);}
[data-prepend]:before {content: attr(data-prepend);}


html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 6rem;
  padding-top: 61px !important;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6rem;
  padding-top: 1rem;
}

footer p {
  position: absolute;
  bottom: 1.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

[data-content]:after {
  content: attr(data-content);
}

.badge-success {background-color: #5cb85c;}
.badge-warning {background-color: #f0ad4e;}
.badge-danger {background-color: #d9534f;}

.input-group-addon [data-content]:after {
  font-weight: 600;
}

.row {
  margin-left: -1rem;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-horizontal .form-group {
  margin-left: -1rem;
  margin-right: -1rem;
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  border-color: rgba(255, 255, 255, 0.75)
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: rgba(255, 255, 255, 0.75);
}

.feature-icon {
  max-width: 200px;
  max-height: 200px;
}

.weight-normal {
  font-weight: normal !important;
}


.help-block {
  font-style: italic;
}

.text-normal {font-weight: normal;}
.text-semibold {font-weight: 600;}
.text-bold {font-weight: 700;}
.text-light {font-weight: 300;}

.bg-inverse {
  background-color: #001f36;
  color: #f4f4f4;
}

.dropdown-menu {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-nav .dropdown-menu > li > a {padding: .5rem 1.25rem;}

.dropdown-menu.bg-inverse > li > a {color: rgba(255, 255, 255, 0.75);}
.dropdown-menu.bg-inverse > li > a:focus,
.dropdown-menu.bg-inverse > li > a:hover {
  color: #001f36;
  background-color: #fff;
}

.bg-gray-dark {
  background-color: #373a3c;
  color: #f4f4f4;
}
.bg-gray-lighter {
  background-color: #eceeef;
}

@media (max-width: 47.9em) {
  .mobile-centered {
    text-align: center;
  }
}

#intro-banner p {
  font-weight: normal;
}

@media(min-width: 48em) {
  #intro-banner {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media(min-width: 120em) {
  #intro-banner {
    background-size: cover;
  }
}

section.jumbotron {
  margin-bottom: 0;

}

body.home section:not(.jumbotron) {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

small, .small {
  font-size: .85em
}

b, strong {font-weight: 600;}




@media (min-width: 48em) {
    .lead {
        font-size: 1.25rem;
    }
}


label {font-weight: normal;}

.account header {margin-bottom: 80px;}

.textual-link:after {
  content: " \00BB";
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-weight:300;}

/*h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6,
 .lead, .navbar, footer, .jumbotron {
    font-family: "Crimson Text", Georgia, Times, "Times New Roman", serif;
}*/


#content_body {
    margin-top: 81px;
}

#create-portfolio-sidebar {
    margin-top: 100px;
    text-align: center;
}

@media (min-width: 48em) {
    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 63px;
    }
    
}

@media (min-width: 48em) {
  .navbar-brand {
    margin-right: 2em;
  }
  
}

#intro-banner {
  background-position: top center;
}

a.terms-of-use-link {
  color: #615e6c;
  text-decoration: none;
  font-size: 85%;

}

a.privacy-policy-link {
  color: #615e6c;
  text-decoration: none;
  font-size: 85%;
}

#invite-form{
  font-size: 120%;

}
.form-field-class{
  display: block;
  width: 100%;
  height: 38px;
      padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
        font-size: 16px;
    line-height: 1.5;
}