{% load i18n account_tags %}


<ul class="nav navbar-nav navbar-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-user"></i> <b>{% user_display request.user %}</b> <span class="caret"></span></a>
            <ul class="dropdown-menu bg-inverse">
                    <li>
                        <a href="{% url 'account_settings' %}"><i class="fa fa-fw fa-cog"></i> Account Settings</a>
                    </li>
                    <li>
                        <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-fw fa-sign-out"></i> {% trans "Sign out" %}</a>
                    </li>
                {% if request.user.is_staff %}
                    <li class="divider" role="separator"></li>
                    <li>
                        <a href="{% url 'admin:index' %}"><i class="fa fa-fw fa-wrench"></i> {% trans "Admin" %}</a>
                    </li>
                {% endif %}
            </ul>
        </li>

    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Register" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
