<div class="row">
<div class="col-xs-4 col-xs-offset-4 text-center">

	<div class="text-center">
		<a class="privacy-policy-link" href="{% url 'contact_us' %}">Contact Us</a>
	</div>
	<div class="text-center">
		<a class="terms-of-use-link" href="{% url 'terms_of_use' %}">Terms of Use</a>
	</div>
	<div class="text-center">
		<a class="privacy-policy-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
	</div>
	
 </div>
 
 <div class="col-xs-4">
 <div class="text-right">

 	&copy; {% now "Y" %} Family Office Statistics LLC
 
  </div>
</div>
</div>

