{% load staticfiles %}
{# <link rel="stylesheet" href="{% static 'css/crimson-text.css' %}"> #}
<link rel="stylesheet" href="{% static 'css/source-serif-pro.css' %}">
<link rel="stylesheet" href="{% static 'css/source-sans-pro.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/site_base.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">