{% extends "theme_bootstrap/base.html" %}
{% load staticfiles i18n metron_tags %}



{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            {% if user_portfolio %}
                <li><a href="{% url 'portfolios:detail' %}">Your Portfolio</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock nav %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}