{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead" id="overview">
        <h1>{% trans "Terms of Use" %}</h1>
    </header>
    
<h1>Family Office Statistics Website Terms of Use and Visitor Agreement</h1>

<p>Welcome to the Family Office Statistics Website (“FOS Website” or “Website”), provided by Family Office Statistics LLC (“FOS”).  Your use of the FOS Website is subject to the Terms of Use that follow as well as the Disclaimer {Add Link} and Privacy Policy <a href="http://www.familyofficestatistics.com/privacy_policy">http://www.familyofficestatistics.com/privacy_policy</a> (together, the “Visitor Agreement”).  This Visitor Agreement is a binding legal agreement between you and FOS.  Please read it carefully. By accessing this Website (including by automated means), you accept its terms. If you breach any of the terms of this Visitor Agreement, your authorization to use the FOS Website automatically ends.</p>

<h2>General Provisions</h2>

<p>The Internet is an evolving medium.  FOS reserves the right to modify or amend this Visitor Agreement.  If we need to change the terms of this Visitor Agreement in the future, we will post the revised Visitor Agreement on the FOS Website and update the "Last Updated" date, below, to reflect the date of the changes. By continuing to use this Website after we post such changes, you agree to the terms of this Visitor Agreement, as modified.  If you have comments or questions about the FOS Website, please send them to us at info@familyofficestatistics.com.</p>

<p>We reserve the right to deny access to this Website, or any service provided via this Website, to anyone who violates this Visitor Agreement or who, in our judgment, interferes with the ability of others to enjoy this Website or infringes the rights of others. We may change, restrict access to, suspend, or discontinue this Website, or any portion of this Website, at any time.</p>

<p>The Website is provided to you on an "as is" and "as available" basis. We disclaim all responsibility for the availability, timeliness, security, or reliability of the Website or any feature or information provided on the Website.</p>

<h2>Use of The FOS Website</h2>

<p>The FOS Website is an invitation-only informational resource for sophisticated investors.  Upon your receipt and acceptance of an invitation to participate, you will be assigned or given the opportunity to select a user name and password (“Login Credentials”).  </p>

<p>The materials and information provided on the FOS Website are made available for your personal, noncommercial use only.  All content and other material on the FOS Website is the property of FOS and/or its licensors and is protected by U.S. copyright laws, other copyright laws, and international conventions. Except as explicitly provided in this Visitor Agreement, you may not copy, distribute, display, reproduce, perform, create derivative works from, or otherwise exploit any of the content or other material on this site. You may display and occasionally print or store a single copy of an individual page provided on the FOS Website for your personal, noncommercial use provided that you keep intact all credits and copyright and other proprietary notices, but you may not otherwise reproduce, store or distribute copies of any content or other material found on this Website, in any form (including electronic form), without prior written permission from the copyright owner. For information about requesting permission to reproduce or distribute materials from the website, please contact us.
</p>
<p>The Website and its services are intended to be used by persons 18 years of age or older who are residents of the United States or countries where such use would not be contrary to local law. By providing the Website and any information about products or services, FOS is not intending to, and does not, provide such information for use in any jurisdiction where such products or services would be prohibited by law. The Website may be used only for lawful purposes consistent with the foregoing. It is your responsibility to ensure that your use of the Website complies with the law, including any local law applicable to you, and with this Visitor Agreement.
</p>
<p>You will represent yourself accurately and truthfully at all times and agree not to impersonate any other person in your use of the Website or in communicating with FOS via the Website. You represent that all information that you furnish in using the website, including but not limited to your responses to investment questionnaires, are, to the best of your knowledge and belief, truthful, accurate and complete.  You agree not to provide any sensitive personal or financial account information in your responses to any investment questionnaires presented on the Website. 
</p>
<p>You may not use the FOS Website in any manner that could damage, disable, overburden or impair the Website, interfere with any other party's use and enjoyment of the Website or compromise the security or integrity of, or otherwise modify, the Website in any way.  You will not attempt to gain unauthorized access to any portion of the Website.  You will only use the FOS Website consistent with the terms of the Visitor Agreement and all applicable laws.
</p>
<h2>Use and Protection of Login Credentials
</h2>
<p>If you establish, or are issued, a user name and password to use or gain access to restricted areas of the Website, you agree to safeguard and maintain your user name and password in strict confidence.  Such login credentials are for your own personal use and may not be used by others.  You are responsible for all uses of your user name and password whether or not you have expressly or impliedly authorized such use.  Your authorization to use your login credentials will cease if at any time you are reasonably believed to have breached this Visitor Agreement, are no longer authorized to have access to any restricted areas of the Website, or if the conditions which entitle you to access cease to exist.
</p>
<h2>Trademarks and Service Marks
</h2>
<p>FAMILY OFFICE STATISTICS and all related logos, product and service names, designs, and slogans are the trademarks or service marks of Family Office Services LLC.  All other product and service marks on this site are the trademarks of their respective owners.  The software, technology, information and materials utilized in providing the FOS Website and/or hosted thereon are protected by United States and international laws regarding copyrights, trademarks and other intellectual property rights belonging to FOS and other contributors.  All of the intellectual property rights of FOS or its contributors remain the property of FOS or such contributor, as the case may be, and none of such rights are transferred to you as a result of such material appearing on the FOS Website.
</p>
<p>We reserve all rights in and to our trademarks, service marks, and other protected intellectual property assets. Third party product and services names and marks are the property and trademarks of the suppliers of such products and services.  You may not use any trademark or service mark appearing on this Website without the prior written consent of the owner of the mark.
</p>
<h1>Disclaimers</h1>

<h2>General</h2>

<p>The FOS Website may contain links to websites maintained by third parties. Our linking to such third-party sites does not imply that we endorse or sponsor such websites, or the information, products or services offered on or through the websites. Neither we nor any of our affiliates operate or control any information, products or services that third parties may provide on websites to which we link. FOS does not represent, warrant, endorse or guarantee any advertised products or services on such websites, and the identification or listing of products, services, links or other information on any website to which we link does not constitute or imply any sponsorship, affiliation or recommendation by FOS. 
</p>
<p>The information provided through the FOS Website has been obtained by FOS from sources and through technologies that FOS believes to be reliable. As with any analysis that involves data comparison, however, the information provided necessarily depends on the accuracy and completeness of  the underlying data.  FOS cannot and does not guarantee the accuracy or completeness of any such data, or of any information or analyses provided on the FOS Website.  All of such information has been prepared and provided solely for general informational purposes to be considered by users in combination with all other information available to them, and is not intended as user specific advice.
</p>
<p>You assume all responsibility and risk associated with the use of the FOS Website, any linked websites and the Internet generally.
</p>
<b><p>THE INFORMATION AND ANALYSES OFFERED ON THE FOS WEBSITE ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE WEBSITE OR ANY OF ITS FUNCTIONS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT ANY PART OF THIS SITE, OR THE SERVERS THAT MAKE THE WEBSITE AVAILABLE, ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
</b></p>
<b><p>WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING USE OR THE RESULTS OF USE OF THE FOS WEBSITE OR MATERIALS ON THIS WEBSITE OR ANY INFORMATION OR CONTENT MADE AVAILABLE ON OR VIA THIS WEBSITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, COMPLETENESS, TIMELINESS, RELIABILITY OR OTHERWISE.
</b></p>
<p>Your interactions with companies, organizations, advisors and/or individuals found on or through our Website, including any purchases, transactions, or other dealings, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such companies, organizations, advisors and/or individuals. You agree that FOS will not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings. You also agree that, if there is a dispute between users of this Website, or between a user and any third party, FOS is under no obligation to become involved, and you agree to release us and our affiliates from any claims, demands and damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such dispute and/or our Website.
</p>
<b><p>FOS EXPRESSLY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, AS TO THE ACCURACY OF ANY CONTENT PROVIDED, OR AS TO THE FITNESS OF THE INFORMATION FOR ANY PURPOSE.
</b></p>
<p>If you are dissatisfied with the Website, or any materials, products, or services on the Website, or with any of the Website's terms and conditions, your sole and exclusive remedy is to discontinue using the Website.
</p>
<p>The content on this Website, including opinions, data and other information, is provided by FOS for your personal information only, and is not intended to be a recommendation or endorsement of any individual, company or product, nor is it intended to be used for trading or investment purposes or as an offer to sell or the solicitation of an offer to buy any securities, financial products or investment advisory services. FOS is not an investment advisor or broker-dealer and does not provide investment advice or recommendations to buy or sell securities, to hire any investment advisor or to pursue any investment or trading strategy.
</p>
<p>Some of the information contained on this Website has been provided to FOS by third parties. FOS does not guarantee the accuracy of or endorse the views or opinions given by any third party content provider to this Website. FOS shall not be liable for any errors, inaccuracies or delays in such content, or for any actions taken in reliance thereon.
</p>
<h2>Limitations of Liability
</h2>
<b><p>UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, WILL FOS or the other Indemnified Parties (as defined below) BE LIABLE FOR ANY DAMAGES ARISING OUT OF YOUR USE OF THIS WEBSITE OR ANY INFORMATION OR CONTENT MADE AVAILABLE ON OR THROUGH THIS WEBSITE, INCLUDING DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN CATEGORIES OF DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, OUR LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.
</b></p>
<h2>Indemnification</h2>

<p>You agree to indemnify and hold harmless FOS, its affiliates, and each of its and their respective directors, officers, managers, employees, shareholders, agents, representatives, licensors, successors and assigns (“Indemnified Parties”) from and against any and all losses, expenses, damages and costs, including reasonable attorneys’ fees, that arise out of your use of the Website, violation of this Visitor Agreement by you or any other person using your account, or your violation of any rights of another. We reserve the right to control the defense of any claim for which we are entitled to indemnification under this section. In such event, you agree to provide us with such cooperation as is reasonably requested by us. We will make reasonable efforts to provide you with notice of any such claim, but our failure to provide such notice will not relieve you of these obligations.
</p>
<h2>Miscellaneous
</h2>
<p>This Visitor Agreement constitutes the entire agreement between FOS and you with respect to the subject matter hereof and supersedes all previous and contemporaneous agreements, proposals and communications on this subject, whether written or oral. This Visitor Agreement is personal to you, is not intended to benefit any third party associated with you, and does not create any third party beneficiaries through you. You may not modify this Visitor Agreement or assign this Visitor Agreement to anyone.  FOS may assign its rights under this Visitor Agreement to a successor or purchaser of its business or that portion(s) of its business to which this Visitor Agreement relates. 
</p>
<p>This Visitor Agreement will be governed by and construed in accordance with the laws of the State of Connecticut, without giving effect to any principles of conflicts of law. By using this Website, you consent to the exclusive jurisdiction and venue of the state and federal courts in Fairfield County, Connecticut in all disputes arising out of or relating to this Visitor Agreement or use of this Website. You agree that regardless of any statute or law to the contrary, any claim or cause of action that you may have arising out of or related to use of the website or this Visitor Agreement must be filed by you within one year after such claim or cause of action arose or be forever barred. 
</p>
<p>If any provision of this Visitor Agreement is found to be unlawful, void, or for any reason unenforceable, then that provision will be deemed restated, in accordance with applicable law, to reflect as nearly as possible the original intentions of the parties, and the remainder of this Visitor Agreement will remain in full force and effect.
</p>
<p>The waiver or failure of FOS to exercise any right provided for herein will not be deemed a waiver of any further right hereunder.
</p>
<h4 style="padding-bottom:2rem;">Last Updated:  Jan. 1, 2016
</h4>
    
{% endblock %}
